.loader {
  display: block;
  background-color: var(--primery-dark-gray);
  animation: rotate 1s infinite linear;
}

.large {
  margin: 25px auto;
  height: 55px;
  width: 55px;
  mask-image: url('/ui-icons/loader-large.svg');
}

.small {
  margin: 5px auto;
  height: 25px;
  width: 25px;
  mask-image: url('/ui-icons/loader-small.svg');
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
