.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  margin: 25px auto;
  display: block;
  height: 55px;
  width: 55px;
  background-color: var(--primery-dark-gray);
  mask-image: url('/ui-icons/cross.svg');
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
