.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--primery-black);
  background: var(--primary-white);
  border-radius: 19px;
  width: 320px;
  box-shadow: 18px 18px 36px 2px rgba(211, 209, 216, 0.65);
  padding: 15px;
  transition: linear scale 0.2s;
}

.light {
  background: var(--primary-white);
}

.dark {
  background: var(--primery-light-gray);
}

.container:hover {
  scale: 1.05;
}

.title {
  text-align: center;
  font-weight: bold;
  height: 70px;
  font-size: 18px;
  overflow: hidden;
}

.image {
  float: left;
  overflow: hidden;
  position: relative;
  width: 261px;
  margin-bottom: 25px;

  height: 250px;
  border-radius: 15px;
}

.price {
  color: var(--primery-black);
  font-size: 18px;
}

.button {
  margin-top: auto;
}
