.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  background: var(--primary-white);
  border-bottom: 5px solid var(--primery-pink);
}

.logo {
  height: 100px;
  margin: 20px;
}

.button {
  display: flex;
  height: 60px;
  align-items: center;
  align-self: center;
}
